<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculation</title>
</head>
<body>
<form action="/form/" method="post">
    {% csrf_token %}
<label for="number1">Enter first number:</label>
<input type="number" name="number1"><br>
<label for="number2">Enter second number:</label>
<input type="number" name="number2"><br>
<label>
    <input type="radio" name="operation" value="add">
    Add
</label><br>
<label>
    <input type="radio" name="operation" value="subtract">
    Subtract
</label><br>
<label>
    <input type="radio" name="operation" value="multiply">
    Multiply
</label><br>
<label>
    <input type="radio" name="operation" value="divide">
    Divide
</label><br>
<button type="submit">Calculate</button>
</form>
</body>
</html>