<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form/" method="post">
        {% csrf_token %}
    <label for="description">Description:</label>
    <input type="text" name="description"><br>
    <label for="status">Status:</label>
    <input type="text" name="status" value="new"><br>
    <label for="due_date">Due date:</label>
    <input type="date" id="due_date" name="due_date">
    </form>
    
</body>
</html>