__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/
*.log
*.sqlite3
*.db
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.py~
*.swp
*.bak
*.tmp
*.orig
.ipynb_checkpoints/
*.egg
*.egg-info/
dist/
build/
__pypackages__/
*.manifest
*.spec
.coverage
htmlcov/
*.cover
coverage.xml
nosetests.xml
*.pytest_cache/
