{% extends 'shop/base.html' %}

{% block title %}Добавить категорию{% endblock %}

{% block content %}
<h2 class="mb-3">Добавить категорию</h2>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}

<form action = "{% url 'add_category' %}" method="post" class="p-4 bg-white shadow rounded">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Название категории</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="mb-3">
        <label for="description" class="form-lable">Описание категории</label>
        <textarea id="description" name="description" class="form-control" rows="4"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Добавить категорию</button>
    </form>
{% endblock %}