{% extends 'shop/base.html' %}

{% block title %}Категории{% endblock %}

{% block content %}
{% for category in categories %}
<div class="d-flex justify-content-between align-items-center border rounded p-2 mb-2">
    <span class="fw-semibold">
        {{category.name}}
    </span>

    <div class="btn-group">
        <a href="{% url 'category_edit' category.id %}" class="btn btn-primary btn-sm">
            Edit
        </a>
        <a href="{% url 'category_delete' category.id %}" class="btn btn-danger btn-sm">
            Delete
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}